{{! Maintainers - Daryl Hedley}}
{{! All links in the nav bar should have an attritbue of data-event, navigationView uses this to fire a global event}}
<div class="navigation-inner clearfix" role="navigation" aria-label="{{_globals._accessibility._ariaLabels.navigation}}">
    
   <div class="proLevel">
		
	</div>
   
    <button class="base navigation-drawer-toggle-button icon resource-button icon-list" data-event="toggleDrawer" aria-label="Glossary and Resources" title='Glossary and Resources'></button>
    <a class="base navigation-back-button  icon icon-list icon-controls-small-left " data-event="toggleDrawer" title=''></a>
      <a href='#/id/co-01' class="icon base icon-list small-right home-btn back-icon" role="button" aria-label="show certificate" title='Back'></a>
   <!-- <a href='www.google.com' target='#_blank' class="base icon icon-list small-right" data-event="backButton"></a>-->
   <!--<a href='#/id/co-01' class="icon base icon-list small-right home-btn" role="button" aria-label="show certificate" title='Home'></a>-->
    {{!--<button class="base navigation-drawer-toggle-button icon icon-list" data-event="toggleDrawer" aria-label="{{_globals._accessibility._ariaLabels.navigationDrawer}}"></button>--}}
   

</div>