{{! Maintainers - Lukasz 'Severiaan' Grela}}
<div class="component-inner go-next-inner">
    {{> component this}}
    <div class="component-widget go-next-widget">
        <button role="button" class="button go-next-button">{{_button.text}}</button>
    </div>
</div>